{% form_theme form theme %}

    <div id="central" class="mains">
            <div>
                        <h2>Changer le mot de passe</h2>
                        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                             {#{{ form_widget(form) }} #}
                                                <fieldset class="standard clearfix">
                                                        <p>
                                                                {{ form_label(form.current) }}
                                                                {{ form_widget(form.current) }}
                                                        </p>
                                                        <p>
                                                                {{ form_label(form.new.first,"Nouveau mot de passe") }}
                                                                {{ form_widget(form.new.first) }}
                                                        </p>
                                                        <p>
                                                                {{ form_label(form.new.second,"Retaper votre mot de passe") }}
                                                                {{ form_widget(form.new.second) }}
                                                        </p>
                                                        <p><span class="diso">{{ form_errors(form) }}</span> </p>
                                                </fieldset>

                                                <fieldset class="third">
                                                        {{ form_rest(form) }}
                                                        <span style="left: 460px;"><a class="simple-link" href="{{ path('fos_user_profile_show') }}">Annuler</a></span>
                                                        <button type="submit" value="edit" class="standardEdit"/>
                                                        
                                                </fieldset>    
                            {#   
                            <div>
                                <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
                            </div>
                            #}
                        </form>

                </div>
        </div>