{% extends "PsaAdminBundle::layout.html.twig" %}

{% block main %}

<style type="text/css">
        
div.content-list-article{
    margin:10px 50px;
}

table.records_list{
    width: 100%;
    background: none repeat scroll 0 0 #CADD8B;
}
h1.titre-list{
    color: #6C4B2D;
    text-align: center;
}

thead.head_regords_list{
     background: none repeat scroll 0 0 #CADD8B;
}

tr.vert-clair{
    background-color: #EFF4DD;
}

tr.vert-fonc{
    background-color:#E2EDC2;
}
</style>

<div class="content-list-article">
<h1 class="titre-list">Article list</h1>

<table class="records_list">
    <thead class="head_regords_list">
        <tr>
            <th>Titre</th>
            <th>Datepublication</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
            <tr {%if loop.index is divisibleby(2)%} class="vert-fonc" {%else%}class="vert-clair"{%endif%}>
            <td>{{ entity.titre }}</td>
            <td>{% if entity.datePublication %}{{ entity.datePublication|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('article_show', { 'id': entity.id }) }}">voir</a>
                    </li>
                    <li>
                        <a href="{{ path('article_edit', { 'id': entity.id }) }}">modifier</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('article_new') }}">
            + Ajouter article
        </a>
    </li>
</ul>
</div>
{% endblock %}	