{% extends "PsaPageBundle::layout.html.twig" %}

        
{% block main %}
    {{about|raw}}
    
<h3>TEST VOALOHANY</h3>
    <div class="yoxview" >
            <a href="{{ asset('gallery/01.jpg')}}"><img src="{{ asset('gallery/thumbs/01.jpg')}}"></a>
            <a href="{{ asset('gallery/02.jpg')}}"><img src="{{ asset('gallery/thumbs/02.jpg')}}"></a>
            <a href="{{ asset('gallery/03.jpg')}}"><img src="{{ asset('gallery/thumbs/03.jpg')}}"></a>
            <a href="{{ asset('gallery/04.jpg')}}"><img src="{{ asset('gallery/thumbs/04.jpg')}}"></a>
    </div>

<h3>TEST FAHAROA</h3>
    <div class="yoxview" >
            <a href="{{ asset('gallery/01.jpg')}}"><img src="{{ asset('gallery/thumbs/01.jpg')}}"></a>
            <a href="{{ asset('gallery/02.jpg')}}"><img src="{{ asset('gallery/thumbs/02.jpg')}}"></a>
            <a href="{{ asset('gallery/03.jpg')}}"><img src="{{ asset('gallery/thumbs/03.jpg')}}"></a>
            <a href="{{ asset('gallery/04.jpg')}}"><img src="{{ asset('gallery/thumbs/04.jpg')}}"></a>
    </div>
{% endblock %}
    
{% block javascript %}
    <script type="text/javascript" src="{{asset('bundles/psapage/js/jquery-1.6.2.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/yoxview/yoxview-init.js')}}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/psapage/js/media.js')}}"></script>
{% endblock %}	
