{% extends "PsaAdminBundle::layout.html.twig" %}

{% block main %}
    <div id="central" class="mains">
            <div>

                    <h2>Editer un slide</h2>
                    {#<img src="{{ asset(entity.src) }}" />#}
                    <form action="{{ path('slide_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                        {#{{ form_widget(edit_form) }}
                        <p>
                            <button type="submit">Enregsitrer</button>
                        </p>
                    ~   #}
                            <fieldset class="slide clearfix">

                                    <p>
                                            <img src="{{asset(entity.src)}}" alt="slide image" height="260" />
                                            <!--input type="file" id="upload_image" name="upload_image" style="visibility:hidden; height:0px;"/>-->
                                            {{ form_widget(edit_form.src,{ 'attr' : { 'id' : 'upload_image','style':'visibility:hidden' } }) }}
                                            <a id="load_slide" href="javascript:onclick=document.getElementById('psa_adminbundle_slidetype_src').click()" title="Charger une image slide">
                                                    <span>&gt; Charger une image slide</span>
                                            </a>

                                    </p>
                                    <p>

                                            {{ form_label(edit_form.tri, "Ordre du slide") }} 
                                            {{ form_widget(edit_form.tri) }}

                                    </p>
                            </fieldset>        

                            <fieldset class="third">
                                    <span class="diso">{{ form_errors(edit_form) }}</span> 
                                    {# <span><span>*</span> champs obligatoire</span>#}
                                    {{ form_rest(edit_form) }}
                                    <a href="{{ path('slide') }}" title="Revenir à la liste">&lt;&lt; Revenir à la liste</a>

                                    <button type="submit" value="edit" class="edit"/>
                            </fieldset>
                             
                    </form>
            </div>
        </div>
{#
<ul class="record_actions">
    <li>
        <a href="{{ path('slide') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('slide_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
#}
{% endblock %}