{% extends "PsaAdminBundle::layout.html.twig" %}

{% block main %}


    <div id="central" class="mains">
            <div>

                    <h2>Ajouter un slide</h2>
                    {#<img src="{{ asset(entity.src) }}" />#}
                    <form action="{{ path('slide_create') }}" method="post" {{ form_enctype(form) }}>
                        {# {{ form_widget(form) }} #}
                            <fieldset class="slide clearfix">

                                    <p>
                                            <img src="{{asset('bundles/psaadmin/images/commons/form/creation_no_photo.gif')}}" alt="slide image" width="260" />
                                            <!--input type="file" id="upload_image" name="upload_image" style="visibility:hidden; height:0px;"/>-->
                                            {{ form_widget(form.src,{ 'attr' : { 'id' : 'upload_image','style':'visibility:hidden' } }) }}
                                            <a id="load_slide" href="javascript:onclick=document.getElementById('psa_adminbundle_slidetype_src').click()" title="Charger une image slide">
                                                    <span>&gt; Charger une image slide</span>
                                            </a>

                                    </p>
                                    <p>

                                            {{ form_label(form.tri, "Ordre du slide") }} 
                                            {{ form_widget(form.tri) }}

                                    </p>
                            </fieldset>        

                            <fieldset class="third">
                                    <span class="diso">{{ form_errors(form) }}</span> 
                                    {# <span><span>*</span> champs obligatoire</span>#}
                                    {{ form_rest(form) }}
                                    <a href="{{ path('slide') }}" title="Revenir à la liste">&lt;&lt; Revenir à la liste</a>

                                    <button type="submit" value="edit" class="create"/>
                            </fieldset>
                             
                    </form>
            </div>
        </div>

{#
<h1>Slide creation</h1>

<form action="{{ path('slide_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('slide') }}">
            Back to the list
        </a>
    </li>
</ul>
#}
{% endblock %}
