{% extends "PsaPageBundle::layout.html.twig" %}

{% block main %}

					
						<!-- REGION SLIDE -->
							<div class="homeContent">
								<ul class="slideshow">
								{% for slide in slides %}
								  <li if {% if loop.first %} class="show" {%endif%} ><img width="685" height="316" src="{{ asset(slide.src) }}" alt="image slide" /></li>
								{% endfor %}
								</ul>
							</div>   
						<!-- END REGION SLIDE -->	
						
						<!-- REGION TEXT -->	
                        <div id="btHome">
							
							<!-- REGION BOUTON -->
							
							<!--
							<a title="Nos paniers de fruits et légumes" href="http://www.marechal-fraicheur.fr/nos-paniers.html"> <img src="{{asset('bundles/psapage/images/bt1.png')}}" alt="Nos paniers de fruits et légumes"> </a>
							<a title="Nos fruits et légumes en cagettes" href="http://www.marechal-fraicheur.fr/nos-fruits-et-legumes-en-cagette.html"> <img src="{{asset('bundles/psapage/images/bt2.png')}}" alt="Nos fruits et légumes en cagettes"> </a>
							<a title="Nos fruits et légumes en conserve" href="http://www.marechal-fraicheur.fr/nos-fruits-et-legumes-en-conserve.html"> <img src="{{asset('bundles/psapage/images/bt3.png')}}" alt="Nos fruits et légumes en conserve"> </a>
							-->
							
							<!-- END REGION BOUTON -->
							
							<!-- REGION TEXT -->
							<div id="home-content">
								{{accueil_texte|raw}}
							</div>
							<!-- END REGION TEXT -->
						</div>
						<!-- END REGION TEXT -->

{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="{{asset('bundles/psapage/js/jquery-1.6.2.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('bundles/psapage/js/image_slide.js')}}"></script>
{% endblock %}	


