{% extends "PsaAdminBundle::layout.html.twig" %}

{% block main %}


    <div id="central" class="mains">
            <div>
                    <h2>Créer un document</h2>

                    <form action="{{ path('document_create') }}" method="post" {{ form_enctype(form) }}>
                        {#{{ form_widget(form) }}#}

                            <fieldset class="main clearfix">
                                    <p>
                                            {{ form_widget(form.path,{ 'attr' : { 'style':'visibility:hidden;width:0px' } }) }}
                                            <a id="load_document" href="javascript:onclick=document.getElementById('psa_adminbundle_documenttype_path').click()" title="Charger un document">
                                                    <span>&gt; Charger un document</span>
                                            </a>

                                    </p>
                                    <p>

                                            {{ form_label(form.description, "Déscription") }} 
                                            {{ form_widget(form.description) }}

                                    </p>

                            </fieldset>


                            <fieldset class="third">

                                    <span class="diso">{{ form_errors(form) }}</span> 
                                    {{ form_rest(form) }}
                                    <a href="{{ path('document') }}" title="Revenir à la liste">&lt;&lt; Revenir à la liste</a>

                                    <button type="submit" value="edit" class="create"/>
                                    
                            </fieldset>  

                    </form>
        
            </div>
        </div>

{% endblock %}