{% extends "PsaAdminBundle::layout.html.twig" %}

{% block main %}
<div class="content-list-article">
    <h1 class="titre-list">Message list  - <a href="http://psaep-caadp-mg.org:2095" title="Accéder à webmail">Accéder à votre webmail</a></h1>

<table class="records_list"> 
    <thead>
        <tr>
            <th>Datemessage</th>
            <th>Fromemail</th>
            <th>Toemail</th>
            <th>Contenu</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr {%if loop.index is divisibleby(2)%} class="vert-fonc" {%else%}class="vert-clair"{%endif%} >
            <td>{% if entity.dateMessage %}{{ entity.dateMessage|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.fromEmail }}</td>
            <td>{{ entity.toEmail }}</td>
            <td>{{ entity.contenu }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('message_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{#
<ul>
    <li>
        <a href="{{ path('message_new') }}">
            + Ajouter Message
        </a>
    </li>
</ul>
#}
</div>
{% endblock %}