<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr"><head>
        <title> {% block title %} PSA Madagascar - Programme Séctoriel Agricole -, visant à moderniser les sécteur agricole, élevage et pêche{% endblock %} </title>		
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<meta name="description" content="Le Gouvernement malagasy a initié depuis 2007 l’élaboration du Programme Sectoriel Agricole (PSA) incluant les trois sous secteurs agriculture, élevage et pêche. Le PSA doit définir autant la vision à moyen mais aussi à long terme du développement de ces trois sous secteurs.">
	<meta name="keywords" content="psa, psa caadp, psa\caadp, psa aadp, psa\aadp, psdr, pdda, pddaa, aadp, caadp, psa madagascar, programme séctoriel agricole, caadp madagascar, agriculture, élevage, pêche, agro-industrie, balance commércial, sécurité alimentaire, revenus producteurs, emplois ruraux">
	<meta name="robots" content="INDEX,FOLLOW">
	
	<link rel="icon" href="{{ asset('bundles/psapage/images/favicon.ico')}}" type="image/x-icon">
	<link rel="shortcut icon" href="{{ asset('bundles/psapage/images/favicon.ico')}}" type="image/x-icon">
	<meta name="google-site-verification" content="Tdt5ZB3f9eNu5_VoV5WvbGLpbzhzkH_-oamTrJ-PHbQ">

	<style type="text/css">cufon{text-indent:0!important;}@media screen,projection{cufon{display:inline!important;display:inline-block!important;position:relative!important;vertical-align:middle!important;font-size:1px!important;line-height:1px!important;}cufon cufontext{display:-moz-inline-box!important;display:inline-block!important;width:0!important;height:0!important;overflow:hidden!important;text-indent:-10000in!important;}cufon canvas{position:relative!important;}}@media print{cufon{padding:0!important;}cufon canvas{display:none!important;}}</style>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/psapage/css/reset.css')}}" media="all"></link>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/psapage/css/boxes.css')}}" media="all"></link>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/psapage/css/menu.css')}}" media="all"></link>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/psapage/css/clears.css')}}" media="all"></link>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/psapage/css/style.css')}}" media="all"></link>
        
	<style media="screen" type="text/css">#myContent {visibility:hidden}</style>
        
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/psapage/css/tomato-menu.css')}}" media="all"></link>
        
        {#
        <link rel="stylesheet" href="{{ asset('js/yoxview/yoxview.css')}}">
        #}
        <link rel="stylesheet" href="{{ asset('js/fotorama/fotorama.css')}}"></link>
        
<body class=" cms-index-index cms-accueil">
    <noscript>
        <div class="noscript">
            <div class="noscript-inner">
                <p><strong>Nous avons détecté que votre javascript est désactivé.</strong></p>
                <p>Javascript doit être activé dans votre navigateur pour utiliser toutes les fonctionnalités de ce site.</p>
            </div>
        </div>
    </noscript>
    <div class="no-display">
        <h4>Skip to Store Area:</h4>
        <ul>
            <li><a href="#main">Aller au contenu principal</a></li>
            <li><a href="#col-left">Aller à la colonne de gauche</a></li>
            <li><a href="#footer">Aller au pied de page</a></li>
        </ul>
    </div>
    <div class="tetiere">
		<!-- REGION CONTAINER -->
		<div class="container">
			<!-- REGION SEARCH -->
			<div class="search-bar">              
				<div class="mini-search">
					<form id="search_mini_form" action="{{path('PsaPageBundle_archive')}}" method="get">
						<fieldset>
							<legend>Search Site</legend>
							<input autocomplete="off" id="search" class="input-text" name="q" value="Rechercher ..." type="text">
							<input src="{{asset('bundles/psapage/images/btn_go.gif')}}" alt="Lancer" type="image">
						</fieldset>
					</form>
				</div>
			</div>	
			<!-- END REGION SEARCH -->
			
			
			<!-- REGION HEADER -->
			<div class="header">
                            <a id="logo" href="{{path('PsaPageBundle_homepage') }}"><img src="{{asset('bundles/psapage/images/logo.png')}}" alt="PSAEP CAADP" style="margin-top:50px;"></a>
			</div>
			<!-- END REGION HEADER -->

			<!-- REGION HEADER TEXT -->
			<div class="outline-creator">
				<div class="toplinks-bar">
                                        <div id="cmenu">
                                                <ul class="cmenu">
                                                        <li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_homepage') %} class="current" {% endif %}>
                                                                <a href="{{path('PsaPageBundle_homepage')}}"><span>Accueil</span></a>
                                                        </li>
                                                        <li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_about') %} class="current" {% endif %} {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_document') %} class="current" {% endif %}>
                                                                <a href="#" class="parent"><span>PSAEP Caadp</span></a>
                                                                <div>
                                                                        <ul>
                                                                                <li><a href="{{path('PsaPageBundle_about')}}"><span>Qui somme nous</span></a></li>
                                                                                {#<li><a href="#"><span>Composante</span></a></li>#}
																				<li><a href="{{path('PsaPageBundle_document')}}"><span>Documents</span></a></li>
                                                                        </ul>
                                                                </div>
                                                        </li>
                                                        <li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_article') %} class="current" {% endif %} {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_archive') %} class="current" {% endif %} >
                                                                <a href="#" class="parent"><span>Articles</span></a>
                                                                <div>
                                                                        <ul >
                                                                                <li><a href="{{path('PsaPageBundle_article')}}"><span>Derniers articles</span></a></li>
                                                                                <li><a href="{{path('PsaPageBundle_archive')}}"><span>Archives</span></a></li>
                                                                                {#<li><a href="{{path('PsaPageBundle_document')}}"><span>Documents</span></a></li>#}
                                                                        </ul>
                                                                </div>
                                                        </li>
                                                        <li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_albums') %} class="current" {% endif %}>
                                                                <a href="#" class="parent"><span>Gallery</span></a>
                                                                <div>
                                                                        <ul >
                                                                                <li><a href="{{path('PsaPageBundle_albums')}}"><span>Photo</span></a></li>
                                                                                <li><a href="http://www.youtube.com/user/psaepmadagascar"><span>Vidéo</span></a></li>
                                                                        </ul>
                                                                </div>
                                                        </li>
                                                        <li><a href="{{path('ccdn_forum_forum_home_root')}}"><span>Forum</span></a></li>
                                                        <li {% if     app.request.attributes.get('_route') is sameas('PsaPageBundle_contact') %} class="last current" {% endif %}><a href="{{path('PsaPageBundle_contact')}}"><span>Contact</span></a></li>
                                                </ul>
                                        </div>
                                        
                                        {#
					<div id="navigation">
						<div>
							<ul id="menuItems">
								<li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_homepage') %} class="active" {% endif %}><a href="{{path('PsaPageBundle_homepage')}}"><span>Accueil</span></a></li>
								<li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_article') %} class="active" {% endif %}><a href="{{path('PsaPageBundle_article')}}"><span>Article</span></a></li>
								<li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_archive') %} class="active" {% endif %}><a href="{{path('PsaPageBundle_archive')}}"><span>Archive</span></a></li>
								<li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_document') %} class="active" {% endif %}><a href="{{path('PsaPageBundle_document')}}"><span>Document</span></a></li>
								<li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_about') %} class="active" {% endif %}><a href="{{path('PsaPageBundle_about')}}"><span>Qui somme nous</span></a></li>
								<li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_contact') %} class="active" {% endif %}><a href="{{path('PsaPageBundle_contact')}}"><span>Contact</span></a></li>
							</ul>
						</div>
					</div>
                                        #}
				</div>
				
				<!-- REGION CONTENT -->
				
					<div class="middle layout-2columns">
					<!-- REGION FIRST COLUMN -->
					<div class="col-left sidebar" id="col-left"> 
                                            
						 <div id="news_sidebar_container">
							{% render 'PsaPageBundle:Article:widgetDerniersArticles' %}
							{% render 'PsaPageBundle:Index:widgetUsefulLink' %}
                                                         
                                                        {#                           
							<img class="news-paperclip" src="{{asset('bundles/psapage/images/commons/content/paperclip.png')}}" alt="paperclip" />
							<div class="news-sidebar">
							  <h3>Useful Links</h3>
							  <ul>
								<li><a href="#">First Link</a></li>
								<li><a href="#">Another Link</a></li>
								<li><a href="#">And Another</a></li>
								<li><a href="#">Last One</a></li>
							  </ul>
							</div>
							#}
						  </div>
					</div>
					<!-- END REGION FIRST COLUMN -->
					
					<!-- REGION MAIN COLUMN -->
					
					<div class="col-main" id="main">
					{% block main %}
						
					{% endblock %}	
					</div>
					<!-- END REGION MAIN COLUMN -->
					
				</div>
				
				<!-- END REGION CONTENT -->
				
				<!-- REGION FOOTER -->
				<div class="footer" id="footer">
					<!-- REGION FOOTER LINK -->
					<ul>
						<li>
                                                    <a href="{{path('PsaPageBundle_homepage') }}" title="Accueil">Accueil     </a>
						</li>
						<li class="last">
                                                    <a href="{{path('PsaPageBundle_article') }}" title="Article"> Article   </a>
						</li>
					</ul>    

					<ul class="footer-links">
                                                        <li class="first">
                                                            <a href="{{path('PsaPageBundle_about') }}" title="Qui sommes nous"> Qui sommes nous    </a>
                                                        </li>
                                                        <li class="last">
								<a href="{{path('PsaPageBundle_contact') }}" title="Contactez-nous"> Contactez-nous</a>
							</li>
                    </ul>
					<!-- END REGION FOOTER LINK -->
					
					<!-- REGION FOOTER TEXT -->
					<a target="varien_external" href="http://www.magentocommerce.com/bug-tracking" id="bug_tracking_link"><strong></strong></a> <br>
					<div id="footer-ref">
						<div itemscope="" itemtype="{{path('PsaPageBundle_homepage') }}">
							<span itemprop="name">Programme Sectoriel Agricole</span>
							<span itemprop="address" itemscope="" itemtype="{{path('PsaPageBundle_homepage') }}">
								<span itemprop="street-address">Rue num XX</span>
								<span itemprop="postal-code">CP xxx</span>
								<span itemprop="locality">Logement</span>
							</span>
							- <a href="{{path('PsaPageBundle_homepage') }}" itemprop="url"> www.psa-mg.org </a>.
						</div>
						<p>
							<a href="mailto:gasysoft@gmail.com">© 2012 Blablabla. All Rights Reserved.</a>
						</p>
					</div>
					<!-- END REGION FOOTER TEXT -->
				
				</div>
				<!-- END REGION FOOTER -->
			
			</div>
			<!-- END REGION CONTAINER -->

			<!-- REGION FANCY -->
			<div id="fancybox-tmp">
			</div>
			<div id="fancybox-loading">
				<div>
				</div>
			</div>
			<div id="fancybox-overlay">
			</div>
			<div id="fancybox-wrap">
				<div id="fancybox-outer">
					<div class="fancy-bg" id="fancy-bg-n">
					</div>
					<div class="fancy-bg" id="fancy-bg-ne">
					</div>
					<div class="fancy-bg" id="fancy-bg-e">
					</div>
					<div class="fancy-bg" id="fancy-bg-se">
					</div>
					<div class="fancy-bg" id="fancy-bg-s">
					</div>
					<div class="fancy-bg" id="fancy-bg-sw">
					</div>
					<div class="fancy-bg" id="fancy-bg-w">
					</div>
					<div class="fancy-bg" id="fancy-bg-nw">
					</div>
					<div id="fancybox-inner">
					</div>
					
					<a id="fancybox-close">
					</a>
					<a href="javascript:;" id="fancybox-left">
						<span class="fancy-ico" id="fancybox-left-ico">
						</span>
					</a>
					<a href="javascript:;" id="fancybox-right">
						<span class="fancy-ico" id="fancybox-right-ico"></span>
					</a>
				</div>
			</div>
			<!-- END REGION FANCY -->
			
			<!-- REGION SCRIPT --!>
                        <script type="text/javascript" src="{{ asset('bundles/psapage/js/jquery-1.6.2.min.js')}}"></script>
			{% block javascript %}
						
			{% endblock %}	
                        <script type="text/javascript" src="{{ asset('bundles/psapage/js/front-menu.js')}}"></script>
			<!-- END REGION SCRIPT --!> 
			<div id="hideme" style="display:hidden"><a href="http://apycom.com/">Apycom jQuery Menuss</a></div>
	</body>
</html>