<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr"><head>
        <title> {% block title %} PSA Madagascar - Programme Séctoriel Agricole -, visant à moderniser les sécteur agricole, élevage et pêche{% endblock %} </title>		
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<meta name="description" content="Le Gouvernement malagasy a initié depuis 2007 l’élaboration du Programme Sectoriel Agricole (PSA) incluant les trois sous secteurs agriculture, élevage et pêche. Le PSA doit définir autant la vision à moyen mais aussi à long terme du développement de ces trois sous secteurs.">
	<meta name="keywords" content="psa, psa caadp, psa\caadp, psa aadp, psa\aadp, psdr, pdda, pddaa, aadp, caadp, psa madagascar, programme séctoriel agricole, caadp madagascar, agriculture, élevage, pêche, agro-industrie, balance commércial, sécurité alimentaire, revenus producteurs, emplois ruraux">
	<meta name="robots" content="INDEX,FOLLOW">
	
	<link rel="icon" href="{{ asset('bundles/psapage/images/favicon.ico')}}" type="image/x-icon">
	<link rel="shortcut icon" href="{{ asset('bundles/psapage/images/favicon.ico')}}" type="image/x-icon">
	<meta name="google-site-verification" content="Tdt5ZB3f9eNu5_VoV5WvbGLpbzhzkH_-oamTrJ-PHbQ">

	<style type="text/css">cufon{text-indent:0!important;}@media screen,projection{cufon{display:inline!important;display:inline-block!important;position:relative!important;vertical-align:middle!important;font-size:1px!important;line-height:1px!important;}cufon cufontext{display:-moz-inline-box!important;display:inline-block!important;width:0!important;height:0!important;overflow:hidden!important;text-indent:-10000in!important;}cufon canvas{position:relative!important;}}@media print{cufon{padding:0!important;}cufon canvas{display:none!important;}}</style>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/psapage/css/reset.css')}}" media="all"></link>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/psapage/css/boxes.css')}}" media="all"></link>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/psapage/css/menu.css')}}" media="all"></link>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/psapage/css/clears.css')}}" media="all"></link>
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/psapage/css/style.css')}}" media="all"></link>
        
	<style media="screen" type="text/css">#myContent {visibility:hidden}</style>
        
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/psapage/css/tomato-menu.css')}}" media="all"></link>
        
        {#
        <link rel="stylesheet" href="{{ asset('js/yoxview/yoxview.css')}}">
        #}
        <link rel="stylesheet" href="{{ asset('js/fotorama/fotorama.css')}}"></link>
        
<body class=" cms-index-index cms-accueil">
    <noscript>
        <div class="noscript">
            <div class="noscript-inner">
                <p><strong>Nous avons détecté que votre javascript est désactivé.</strong></p>
                <p>Javascript doit être activé dans votre navigateur pour utiliser toutes les fonctionnalités de ce site.</p>
            </div>
        </div>
    </noscript>
    <div class="no-display">
        <h4>Skip to Store Area:</h4>
        <ul>
            <li><a href="#main">Aller au contenu principal</a></li>
            <li><a href="#col-left">Aller à la colonne de gauche</a></li>
            <li><a href="#footer">Aller au pied de page</a></li>
        </ul>
    </div>
    <div class="tetiere">
		<!-- REGION CONTAINER -->
		<div class="container">
			<!-- REGION SEARCH -->
			<div class="search-bar">              
				<div class="mini-search">
					<form id="search_mini_form" action="{{path('PsaPageBundle_archive')}}" method="get">
						<fieldset>
							<legend>Search Site</legend>
							<input autocomplete="off" id="search" class="input-text" name="q" value="Rechercher ..." type="text">
							<input src="{{asset('bundles/psapage/images/btn_go.gif')}}" alt="Lancer" type="image">
						</fieldset>
					</form>
				</div>
			</div>	
			<!-- END REGION SEARCH -->
			
			
			<!-- REGION HEADER -->
			<div class="header">
                            <a href="http://www.agriculture.gov.mg/" rel="nofollow"><img id="agriculture" src="{{asset('bundles/psapage/images/agriculture.png')}}" alt="PSAEP CAADP" style=""></a>
                            <a href="http://www.elevage.gov.mg/" rel="nofollow"><img id="elevage" src="{{asset('bundles/psapage/images/elevage.png')}}" alt="PSAEP CAADP" style=""></a>
                            <a href="http://www.peche.gov.mg/" rel="nofollow"><img id="peche" src="{{asset('bundles/psapage/images/peche.png')}}" alt="PSAEP CAADP" style=""></a>
                            <a id="logo" href="{{path('PsaPageBundle_homepage') }}"><img src="{{asset('bundles/psapage/images/logo.png')}}" alt="PSAEP CAADP" style="margin-top:80px;"></a>
			</div>
			<!-- END REGION HEADER -->

			<!-- REGION HEADER TEXT -->
			<div class="outline-creator">
				<div class="toplinks-bar">
                                        <div id="cmenu">
                                                <ul class="cmenu">
                                                        <li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_homepage') %} class="current" {% endif %}>
                                                                <a href="{{path('PsaPageBundle_homepage')}}"><span>Accueil</span></a>
                                                        </li>
                                                        <li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_about') %} class="current" {% endif %} {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_document') %} class="current" {% endif %}>
                                                                <a href="#" class="parent"><span>PSAEP Caadp</span></a>
                                                                <div>
                                                                        <ul>
                                                                                <li><a href="{{path('PsaPageBundle_about')}}"><span>Qui somme nous</span></a></li>
                                                                                {#<li><a href="#"><span>Composante</span></a></li>#}
																				<li><a href="{{path('PsaPageBundle_document')}}"><span>Documents</span></a></li>
                                                                        </ul>
                                                                </div>
                                                        </li>
                                                        <li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_article') %} class="current" {% endif %} {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_archive') %} class="current" {% endif %} >
                                                                <a href="#" class="parent"><span>Articles</span></a>
                                                                <div>
                                                                        <ul >
                                                                                <li><a href="{{path('PsaPageBundle_article')}}"><span>Derniers articles</span></a></li>
                                                                                <li><a href="{{path('PsaPageBundle_archive')}}"><span>Archives</span></a></li>
                                                                                {#<li><a href="{{path('PsaPageBundle_document')}}"><span>Documents</span></a></li>#}
                                                                        </ul>
                                                                </div>
                                                        </li>
                                                        <li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_albums') %} class="current" {% endif %}>
                                                                <a href="#" class="parent"><span>Gallery</span></a>
                                                                <div>
                                                                        <ul >
                                                                                <li><a href="{{path('PsaPageBundle_albums')}}"><span>Photo</span></a></li>
                                                                                <li><a href="http://www.youtube.com/user/psaepmadagascar"  rel="nofollow"><span>Vidéo</span></a></li>
                                                                        </ul>
                                                                </div>
                                                        </li>
                                                        <li><a href="{{path('ccdn_forum_forum_home_root')}}"><span>Forum</span></a></li>
                                                        <li {% if     app.request.attributes.get('_route') is sameas('PsaPageBundle_contact') %} class="last current" {% endif %}><a href="{{path('PsaPageBundle_contact')}}"><span>Contact</span></a></li>
                                                </ul>
                                        </div>
                                        
                                        {#
					<div id="navigation">
						<div>
							<ul id="menuItems">
								<li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_homepage') %} class="active" {% endif %}><a href="{{path('PsaPageBundle_homepage')}}"><span>Accueil</span></a></li>
								<li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_article') %} class="active" {% endif %}><a href="{{path('PsaPageBundle_article')}}"><span>Article</span></a></li>
								<li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_archive') %} class="active" {% endif %}><a href="{{path('PsaPageBundle_archive')}}"><span>Archive</span></a></li>
								<li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_document') %} class="active" {% endif %}><a href="{{path('PsaPageBundle_document')}}"><span>Document</span></a></li>
								<li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_about') %} class="active" {% endif %}><a href="{{path('PsaPageBundle_about')}}"><span>Qui somme nous</span></a></li>
								<li {% if  app.request.attributes.get('_route') is sameas('PsaPageBundle_contact') %} class="active" {% endif %}><a href="{{path('PsaPageBundle_contact')}}"><span>Contact</span></a></li>
							</ul>
						</div>
					</div>
                                        #}
				</div>
				
				<!-- REGION CONTENT -->
				
					<div class="middle layout-2columns">
					<!-- REGION FIRST COLUMN -->
					<div class="col-left sidebar" id="col-left"> 
                                            
						 <div id="news_sidebar_container">
							{% render 'PsaPageBundle:Article:widgetDerniersArticles' %}
							{% render 'PsaPageBundle:Index:widgetUsefulLink' %}
                                                         

							<img class="news-paperclip" src="{{asset('bundles/psapage/images/commons/content/paperclip.png')}}" alt="paperclip" />
							<div class="news-sidebar">
									<div align="center">
									<a href="http://www.a1essays.com/" title="custom research paper"><img src="http://selaris.com/research-paper.png" alt="custom research paper" title="custom research paper" id="calendarAdver" /></a><a href="http://www.essaycare.com" title="custom writing"><img src="http://selaris.com/essay.png" alt="custom writing" title="custom writing" id="calendarAdver2"/></a><a href="http://www.answeringcare.com"><img src="http://selaris.com/research-paper.png" alt="doctor answering service" title="doctor answering service" name="doctor answering service" id="calendarAdver3" /></a>
									<script type="text/javascript"  src="http://www.selaris.com/calendar2.php?id=2011413041157&type=15"></script>
									<a href="http://selaris.com/calendarindex.php" style="text-decoration:none; color:#CCCCCC; font-size:10px;">Free Calendar</a>
									</div>
								{#
								<p>
									<div style="width:185px; height:100px;margin-top:10px;padding-top:10px;">
										<object type="application/x-shockwave-flash" data="http://swf.yowindow.com/yowidget3.swf" width="185" height="100">
											<param name="movie" value="http://swf.yowindow.com/yowidget3.swf"/>
											<param name="allowfullscreen" value="true"/>
											<param name="wmode" value="opaque"/>
											<param name="bgcolor" value="#FFFFFF"/>
											<param name="flashvars" 
											value="location_id=gn:1070940&amp;location_name=Psa%20Madagascar&amp;time_format=24&amp;unit_system=metric&amp;lang=fr&amp;background=#FFFFFF&amp;copyright_bar=false"
										/>
											<a href="http://getweatherwidget.com?client=widget&amp;link=copyright"
											style="width:185px;height:100px;display: block;text-indent: -50000px;font-size: 0px;background:#DDF url(http://yowindow.com/img/logo.png) no-repeat scroll 50% 50%;"
											>Widget météo</a>
										</object>
									</div>
									<div style="width: 185px; height: 15px; font-size: 14px; font-family: Arial,Helvetica,sans-serif;">
										<span style="float:left;"><a target="_top" href="http://getweatherwidget.com?client=widget&amp;link=copyright" style="color: #2fa900; font-weight:bold; text-decoration:none;" title="Widget météo">YoWindow.com</a></span>
										<span style="float:right; color:#888888;"><a href="http://yr.no" style="color: #2fa900; text-decoration:none;">yr.no</a></span>
									</div>
								<object allowscriptaccess="always" type="application/x-shockwave-flash" data="http://rabbit.info-info-info-info-info.info/pac.swf?id=1269545_0" width="185" height="180" wmode="transparent"><param name="allowscriptaccess" value="always" /><param name="movie" value="http://rabbit.info-info-info-info-info.info/pac.swf?id=1269545_0" /><param name="wmode" value="transparent" /><embed src="http://rabbit.info-info-info-info-info.info/pac.swf?id=1269545_0" type="application/x-shockwave-flash" allowscriptaccess="always" wmode="transparent" width="185" height="180" /><video width="185" height="180"><a href="http://www.jackpotcitycasinoreport.com/" title="Jackpot city casino review" style=";font-style:italic;font-size:12px;font-weight:normal">Jackpot city casino review</a></video></object>							 
								#}
							</div>
						  </div>
					</div>
					<!-- END REGION FIRST COLUMN -->
					
					<!-- REGION MAIN COLUMN -->
					
					<div class="col-main" id="main">
					{% block main %}
						
					{% endblock %}	
					</div>
					<!-- END REGION MAIN COLUMN -->
					
				</div>
				
				<!-- END REGION CONTENT -->
				
				<!-- REGION FOOTER -->
				<div class="footer" id="footer">
					<!-- REGION FOOTER LINK -->
					<ul>
						<li>
                                                    <a href="{{path('PsaPageBundle_homepage') }}" title="Accueil">Accueil     </a>
						</li>
						<li class="last">
                                                    <a href="{{path('PsaPageBundle_article') }}" title="Article"> Article   </a>
						</li>
					</ul>    

					<ul class="footer-links">
                                                        <li class="first">
                                                            <a href="{{path('PsaPageBundle_about') }}" title="Qui sommes nous"> Qui sommes nous    </a>
                                                        </li>
                                                        <li class="last">
								<a href="{{path('PsaPageBundle_contact') }}" title="Contactez-nous"> Contactez-nous</a>
							</li>
                    </ul>
					<!-- END REGION FOOTER LINK -->
					
					<!-- REGION FOOTER TEXT -->
					<a target="varien_external" href="http://www.magentocommerce.com/bug-tracking" id="bug_tracking_link"><strong></strong></a> <br>
					<div id="footer-ref">
						<div itemscope="" itemtype="{{path('PsaPageBundle_homepage') }}">
							<span itemprop="name">Programme Sectoriel Agricole</span>
							<span itemprop="address" itemscope="" itemtype="{{path('PsaPageBundle_homepage') }}">
                                                                <span itemprop="street-address">-</span>
								<span itemprop="postal-code">Psaep</span>
								<span itemprop="locality">Caadp</span>
							</span>
							- <a href="{{path('PsaPageBundle_homepage') }}" itemprop="url"> www.psa-mg.org </a>.
						</div>
						<p>
							<a href="mailto:gasysoft@gmail.com">© 2012 GasySoft. All Rights Reserved.</a>
						</p>
					</div>
					<!-- END REGION FOOTER TEXT -->
				
				</div>
				<!-- END REGION FOOTER -->
			
			</div>
			<!-- END REGION CONTAINER -->

			<!-- REGION FANCY -->
			<div id="fancybox-tmp">
			</div>
			<div id="fancybox-loading">
				<div>
				</div>
			</div>
			<div id="fancybox-overlay">
			</div>
			<div id="fancybox-wrap">
				<div id="fancybox-outer">
					<div class="fancy-bg" id="fancy-bg-n">
					</div>
					<div class="fancy-bg" id="fancy-bg-ne">
					</div>
					<div class="fancy-bg" id="fancy-bg-e">
					</div>
					<div class="fancy-bg" id="fancy-bg-se">
					</div>
					<div class="fancy-bg" id="fancy-bg-s">
					</div>
					<div class="fancy-bg" id="fancy-bg-sw">
					</div>
					<div class="fancy-bg" id="fancy-bg-w">
					</div>
					<div class="fancy-bg" id="fancy-bg-nw">
					</div>
					<div id="fancybox-inner">
					</div>
					
					<a id="fancybox-close">
					</a>
					<a href="javascript:;" id="fancybox-left">
						<span class="fancy-ico" id="fancybox-left-ico">
						</span>
					</a>
					<a href="javascript:;" id="fancybox-right">
						<span class="fancy-ico" id="fancybox-right-ico"></span>
					</a>
				</div>
			</div>
			<!-- END REGION FANCY -->
			
			<!-- REGION SCRIPT --!>
                        <script type="text/javascript" src="{{ asset('bundles/psapage/js/jquery-1.6.2.min.js')}}"></script>
			{% block javascript %}
						
			{% endblock %}	
                        <script type="text/javascript" src="{{ asset('bundles/psapage/js/front-menu.js')}}"></script>
			<!-- END REGION SCRIPT --!> 
			<div id="hideme" style="display:hidden"><a href="http://apycom.com/">Apycom jQuery Menuss</a></div>
                        <div id="menu" style="display: hidden;visibility: none;"/>
	</body>
</html>