{% extends "PsaPageBundle::layout.html.twig" %}

{% block main %}

					
						<!-- REGION SLiIDE -->
						<div class="homeContent">
							<!-- <object data="{{asset('bundles/psapage/images/slideshow_marechal.swf')}}" id="marechalHome" type="application/x-shockwave-flash" height="370" width="685"><param value="true" name="play"><param value="true" name="loop"><param value="false" name="menu"><param value="best" name="quality"><param value="tl" name="salign"><param value="transparent" name="wmode"><param value="false" name="allowfullscreen"><param value="always" name="allowscriptaccess"><param value="all" name="allownetworking"><param value="urlLink=http://marechal.oxfoz.net/notre-charte-d-engagement/" name="flashvars"></object>  -->
							<ul class="slideshow">
							  <li class="show"><img width="685" height="316" src="{{asset('bundles/psapage/slides/1.jpg')}}" alt="image one" rel="description image 1" /></li>
							  <li><img width="685" height="316" src="{{asset('bundles/psapage/slides/2.jpg')}}" alt="image two" rel="description image 1"/></li>
							  <li><img width="685" height="316" src="{{asset('bundles/psapage/slides/3.jpg')}}" alt="image three" rel="description image 1"/></li>
							  <li><img width="685" height="316" src="{{asset('bundles/psapage/slides/4.jpg')}}" alt="image four" rel="description image 1"/></li>
							  <li><img width="685" height="316" src="{{asset('bundles/psapage/slides/5.jpg')}}" alt="image five" rel="description image 1"/></li>
							</ul>
						</div>   
						<!-- END REGION SLIDE -->	
						
						<!-- REGION TEXT -->	
                        <div id="btHome">
							
							<!-- REGION BOUTON -->
							
							<!--
							<a title="Nos paniers de fruits et légumes" href="http://www.marechal-fraicheur.fr/nos-paniers.html"> <img src="{{asset('bundles/psapage/images/bt1.png')}}" alt="Nos paniers de fruits et légumes"> </a>
							<a title="Nos fruits et légumes en cagettes" href="http://www.marechal-fraicheur.fr/nos-fruits-et-legumes-en-cagette.html"> <img src="{{asset('bundles/psapage/images/bt2.png')}}" alt="Nos fruits et légumes en cagettes"> </a>
							<a title="Nos fruits et légumes en conserve" href="http://www.marechal-fraicheur.fr/nos-fruits-et-legumes-en-conserve.html"> <img src="{{asset('bundles/psapage/images/bt3.png')}}" alt="Nos fruits et légumes en conserve"> </a>
							-->
							
							<!-- END REGION BOUTON -->
							
							<!-- REGION TEXT -->
							<div id="home-content">
								<h2>Paniers de fruits et légumes</h2>
								<p>
									La <a href="http://www.marechal-fraicheur.fr/" title="Livraison paniers de legumes et paniers de fruits">livraison de paniers de fruits et légumes frais</a> à <strong>Lyon</strong> et ses environs, c’est une réalité quotidienne chez Maréchal Fraîcheur ! Si vous désirez manger des <strong>légumes et des fruits de saison</strong> sains et goûteux, cultivés par des producteurs locaux, venez découvrir nos 
									<a href="http://www.marechal-fraicheur.fr/nos-paniers.html" title="Paniers de fruits et légumes frais">fruits et légumes frais</a> que nous vous livrons gratuitement (dans l’agglomération de Lyon) dans votre entreprise ou en point relais.<br>&nbsp;&nbsp;				
								</p>
								<h2>Conservation des fruits et légumes</h2>
								<p>bla bla bla ...</p>
							</div>
							<!-- END REGION TEXT -->
						</div>
						<!-- END REGION TEXT -->

{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="{{asset('bundles/psapage/js/jquery-1.6.2.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('bundles/psapage/js/image_slide.js')}}"></script>
{% endblock %}	


