{% extends "PsaAdminBundle::layout.html.twig" %}

{% block main %}

    <div id="central" class="mains">
            <div>

                    <h2>Gérer texte accueil</h2>
                    <form action="{{ path('pagemeta_update', { 'id': page_meta_accueil_texte.id }) }}" method="post" {{ form_enctype(edit_form_accueil_texte) }}>
                            {#{{ form_widget(edit_form_accueil_texte) }}#}

                            <fieldset class="main clearfix">
                                    <p>

                                            {{ form_label(edit_form_accueil_texte.value, "Déscription") }} 
                                            {{ form_widget(edit_form_accueil_texte.value|raw) }}

                                    </p>

                            </fieldset>


                            <fieldset class="third">
                                    <span class="diso">{{ form_errors(edit_form_accueil_texte) }}</span> 
                                    {{ form_rest(edit_form_accueil_texte) }}
                                    {# <span><span>*</span> champs obligatoire</span>#}
                                    <button type="submit" value="edit" class="edit"/>
                                    
                            </fieldset>
                    </form>
                    
            </div>
        </div>
                    
                    
{% endblock %}


