<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr"><head>
    <title> Livraison de panier de fruits et légumes frais à Lyon : Maréchal Fraîcheur </title>		
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<meta name="description" content="bla bla">
	<meta name="keywords" content="bla, bla">
	<meta name="robots" content="INDEX,FOLLOW">
	
	<link rel="icon" href="http://marechal.oxfoz.net/skin/frontend/default/marechal/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="http://marechal.oxfoz.net/skin/frontend/default/marechal/favicon.ico" type="image/x-icon">
	<meta name="google-site-verification" content="Tdt5ZB3f9eNu5_VoV5WvbGLpbzhzkH_-oamTrJ-PHbQ">

	<style type="text/css">cufon{text-indent:0!important;}@media screen,projection{cufon{display:inline!important;display:inline-block!important;position:relative!important;vertical-align:middle!important;font-size:1px!important;line-height:1px!important;}cufon cufontext{display:-moz-inline-box!important;display:inline-block!important;width:0!important;height:0!important;overflow:hidden!important;text-indent:-10000in!important;}cufon canvas{position:relative!important;}}@media print{cufon{padding:0!important;}cufon canvas{display:none!important;}}</style>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css')}}" media="all">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/boxes.css')}}" media="all">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/menu.css')}}" media="all">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/clears.css')}}" media="all">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css')}}" media="all">

	<style media="screen" type="text/css">#myContent {visibility:hidden}</style>

<body class=" cms-index-index cms-accueil">
    <noscript>
        <div class="noscript">
            <div class="noscript-inner">
                <p><strong>Nous avons détecté que votre javascript est désactivé.</strong></p>
                <p>Javascript doit être activé dans votre navigateur pour utiliser toutes les fonctionnalités de ce site.</p>
            </div>
        </div>
    </noscript>
    <div class="no-display">
        <h4>Skip to Store Area:</h4>
        <ul>
            <li><a href="#main">Aller au contenu principal</a></li>
            <li><a href="#col-left">Aller à la colonne de gauche</a></li>
            <li><a href="#footer">Aller au pied de page</a></li>
        </ul>
    </div>
    <div class="tetiere">
		<!-- REGION CONTAINER -->
		<div class="container">
			<!-- REGION SEARCH -->
			<div class="search-bar">              
				<div class="mini-search">
					<form id="search_mini_form" action="http://marechal.oxfoz.net/catalogsearch/result/" method="get">
						<fieldset>
							<legend>Search Site</legend>
							<input autocomplete="off" id="search" class="input-text" name="q" value="Rechercher..." type="text">
							<input src="{{asset('images/btn_go.gif')}}" alt="Lancer" type="image">
							<div style="display: none;" id="search_autocomplete" class="search-autocomplete"></div>
						</fieldset>
					</form>
				</div>
			</div>	
			<!-- END REGION SEARCH -->
			
			
			<!-- REGION HEADER -->
			<div class="header">
				<a id="logo" href="http://marechal.oxfoz.net/"><img src="{{asset('images/logo.gif')}}" alt="PSA AADP"></a>
			</div>
			<!-- END REGION HEADER -->

			<!-- REGION HEADER TEXT -->
			<div class="outline-creator">
				<div class="toplinks-bar">
					<div id="navigation">
						<div>
							<ul id="menuItems">
								<li class="active"><a href="index.htm"><span>Accueil</span></a></li>
								<li ><a href="#"><span>Article</span></a></li>
								<li ><a href="#"><span>Archive</span></a></li>
								<li ><a href="#"><span>Document</span></a></li>
								<li ><a href="template.htm"><span>Qui somme nous</span></a></li>
								<li ><a href="contacts.htm"><span>Contact</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- REGION CONTENT -->
				<div class="middle layout-2columns">
					<!-- REGION FIRST COLUMN -->
					<div class="col-left sidebar" id="col-left"> 
						<!-- REGION MENU -->
						<div class="menuLeft">
							<!-- REGION MENU ITEM -->
							<ul class="latestNews"> 
								<li class="listNews">
									<a href="Article"><span>Dernier Articles</span></a>
									<ul class="listNews-item">
										<li>
											<a href="http://marechal.oxfoz.net/nos-paniers.html"><span>Article bla bla bla (26/11/2012)</span></a>
										</li>
										<li>
											<a href="http://marechal.oxfoz.net/nos-fruits-et-legumes-en-cagette.html"><span>Article lorem blo blo (24/11/2012)</span></a>
										</li>
										<li>
											<a href="http://marechal.oxfoz.net/nos-fruits-et-legumes-en-conserve.html"><span>Article test long long long long (10/10/2012)</span></a>
										</li>	
										<li>
											<a href="http://marechal.oxfoz.net/nos-fruits-et-legumes-en-conserve.html"><span>Article bla bla bla (10/10/2012)</span></a>
										</li>	
										<li>
											<a href="http://marechal.oxfoz.net/nos-fruits-et-legumes-en-conserve.html"><span>Article bla bla bla (10/10/2012)</span></a>
										</li>	
										<li>
											<a href="http://marechal.oxfoz.net/nos-fruits-et-legumes-en-conserve.html"><span>Article bla bla bla (10/10/2012)</span></a>
										</li>	
										<li>
											<a href="http://marechal.oxfoz.net/nos-fruits-et-legumes-en-conserve.html"><span>Article bla bla bla (10/10/2012)</span></a>
										</li>	
										<li>
											<a href="http://marechal.oxfoz.net/nos-fruits-et-legumes-en-conserve.html"><span>Article bla bla bla (10/10/2012)</span></a>
										</li>	
									</ul>
								</li>
							</ul> 
							<!-- END REGION MENU ITEM -->
						</div>
						<!-- END REGION MENU -->
						
						<!-- REGION NEWS LETTER & CARD -->
						<div class="newsletterBox">
							<!-- REGION NEWS LETTER -->
							<div class="top"></div>
								<form action="http://marechal.oxfoz.net/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail">
									<fieldset class="mini-newsletter">
											<legend>Fraîch echo</legend>
											<label for="newsletter">Inscription à notre Fraîche echo:</label>
											<div class="input-box"> <!-- Created for the validation error accomodation -->
												<input name="email" id="newsletter" value="Saisissez votre email" class="required-entry validate-email input-text" type="text">
											</div>
											<input class="btSubNews" src="{{asset('images/btn_submit_miniNews.png')}}" value="Inscrivez-moi" type="image">
									</fieldset>
								</form>

							</div>
							<!-- END REGION NEWS LETTER -->
							
							<!-- REGION CARD -->
							<div class="panierBox">
								<div class="box base-mini mini-cart">
								<div class="head">
									<h4 class="title"></h4>
								</div>
    
								<div class="content">
										<div class="a-center"><p>Nombre visiteur</p></div>
								</div>
							</div>
							<!-- END REGION CARD -->
						</div>
						<!-- [ends] .cart-sidebar // -->
					</div>
					<!-- END REGION FIRST COLUMN -->
					
					<!-- REGION MAIN COLUMN -->
					<div class="col-main" id="main">
					
					
					
					
					
					
					
						<!-- REGION SLIDE -->
						<div class="homeContent">
							<!-- <object data="{{asset('images/slideshow_marechal.swf')}}" id="marechalHome" type="application/x-shockwave-flash" height="370" width="685"><param value="true" name="play"><param value="true" name="loop"><param value="false" name="menu"><param value="best" name="quality"><param value="tl" name="salign"><param value="transparent" name="wmode"><param value="false" name="allowfullscreen"><param value="always" name="allowscriptaccess"><param value="all" name="allownetworking"><param value="urlLink=http://marechal.oxfoz.net/notre-charte-d-engagement/" name="flashvars"></object>  -->
							<ul class="slideshow">
							  <li class="show"><img width="685" height="316" src="{{asset('slides/1.jpg')}}" alt="image one" rel="description image 1" /></li>
							  <li><img width="685" height="316" src="{{asset('slides/2.jpg')}}" alt="image two" rel="description image 1"/></li>
							  <li><img width="685" height="316" src="{{asset('slides/3.jpg')}}" alt="image three" rel="description image 1"/></li>
							  <li><img width="685" height="316" src="{{asset('slides/4.jpg')}}" alt="image four" rel="description image 1"/></li>
							  <li><img width="685" height="316" src="{{asset('slides/5.jpg')}}" alt="image five" rel="description image 1"/></li>
							</ul>
						</div>   
						<!-- END REGION SLIDE -->	
						
						<!-- REGION TEXT -->	
                        <div id="btHome">
							
							<!-- REGION BOUTON -->
							
							<!--
							<a title="Nos paniers de fruits et légumes" href="http://www.marechal-fraicheur.fr/nos-paniers.html"> <img src="{{asset('images/bt1.png')}}" alt="Nos paniers de fruits et légumes"> </a>
							<a title="Nos fruits et légumes en cagettes" href="http://www.marechal-fraicheur.fr/nos-fruits-et-legumes-en-cagette.html"> <img src="{{asset('images/bt2.png')}}" alt="Nos fruits et légumes en cagettes"> </a>
							<a title="Nos fruits et légumes en conserve" href="http://www.marechal-fraicheur.fr/nos-fruits-et-legumes-en-conserve.html"> <img src="{{asset('images/bt3.png')}}" alt="Nos fruits et légumes en conserve"> </a>
							-->
							
							<!-- END REGION BOUTON -->
							
							<!-- REGION TEXT -->
							<div id="home-content">
								<h2>Paniers de fruits et légumes</h2>
								<p>
									La <a href="http://www.marechal-fraicheur.fr/" title="Livraison paniers de legumes et paniers de fruits">livraison de paniers de fruits et légumes frais</a> à <strong>Lyon</strong> et ses environs, c’est une réalité quotidienne chez Maréchal Fraîcheur ! Si vous désirez manger des <strong>légumes et des fruits de saison</strong> sains et goûteux, cultivés par des producteurs locaux, venez découvrir nos 
									<a href="http://www.marechal-fraicheur.fr/nos-paniers.html" title="Paniers de fruits et légumes frais">fruits et légumes frais</a> que nous vous livrons gratuitement (dans l’agglomération de Lyon) dans votre entreprise ou en point relais.<br>&nbsp;&nbsp;				
								</p>
								<h2>Conservation des fruits et légumes</h2>
								<p>bla bla bla ...</p>
							</div>
							<!-- END REGION TEXT -->
						</div>
						<!-- END REGION TEXT -->
						
						
						
						
						
						
						
			
					</div>
					<!-- END REGION MAIN COLUMN -->
					
				</div>
				<!-- END REGION CONTENT -->
				
				<!-- REGION FOOTER -->
				<div class="footer" id="footer">
					<!-- REGION FOOTER LINK -->
					<ul>
						<li>
							<a href="http://marechal.oxfoz.net/qui-sommes-nous/">Accueil     </a>
						</li>
						<li class="last">
							<a href="http://marechal.oxfoz.net/mentions-legales/">A-propos de nous    </a>
						</li>
					</ul>    

					<ul class="footer-links">
                            <li class="first">
								<a href="http://marechal.oxfoz.net/contacts/" title="Contactez-nous">Contactez-nous</a>
							</li>
							<!-- 
                            <li class="last">
								<a href="http://marechal.oxfoz.net/rss/" title="Test RSS" class="link-feed">RSS</a>
							</li>
							-->
                    </ul>
					<!-- END REGION FOOTER LINK -->
					
					<!-- REGION FOOTER TEXT -->
					<a target="varien_external" href="http://www.magentocommerce.com/bug-tracking" id="bug_tracking_link"><strong></strong></a> <br>
					<div id="footer-ref">
						<!--
						<a href="http://www.marechal-fraicheur.fr/" title="Livraison fruits et légumes">Agriculture</a> - 
						<a href="http://www.marechal-fraicheur.fr/nos-paniers.html" title="Paniers de fruits et légumes">Elevage</a> - 
						<a href="http://www.marechal-fraicheur.fr/nos-fruits-et-legumes-en-cagette.html" title="Cagettes de fruits et légumes">Pêche</a> - 
						<a href="http://www.marechal-fraicheur.fr/points-relais" title="Points de livraison">Agro-industrie</a> - 
						<a href="http://www.marechal-fraicheur.fr/notre-charte-d-engagement" title="Charte d'engagement">Foncier</a> - 
						<a href="http://www.marechal-fraicheur.fr/la-composition-de-nos-paniers" title="Exemples de paniers de fruits et légumes">Exemples de paniers de fruits et légumes</a></div>
						-->
						<div itemscope="" itemtype="http://data-vocabulary.org/Organization">
							<span itemprop="name">Programme Sectoriel Agricole</span>
							<span itemprop="address" itemscope="" itemtype="http://data-vocabulary.org/Address">
								<span itemprop="street-address">Rue num XX</span>
								<span itemprop="postal-code">CP xxx</span>
								<span itemprop="locality">Logement</span>
							</span>
							- <a href="http://www.psa.fr/" itemprop="url"> http://www.psa.fr </a>.
						</div>
						<p>
							<a href="http://www.gasysoft.fr/">© 2012 Blablabla. All Rights Reserved.</a>
						</p>
					</div>
					<!-- END REGION FOOTER TEXT -->
				
				</div>
				<!-- END REGION FOOTER -->
			
			</div>
			<!-- END REGION CONTAINER -->

			<!-- REGION FANCY -->
			<div id="fancybox-tmp">
			</div>
			<div id="fancybox-loading">
				<div>
				</div>
			</div>
			<div id="fancybox-overlay">
			</div>
			<div id="fancybox-wrap">
				<div id="fancybox-outer">
					<div class="fancy-bg" id="fancy-bg-n">
					</div>
					<div class="fancy-bg" id="fancy-bg-ne">
					</div>
					<div class="fancy-bg" id="fancy-bg-e">
					</div>
					<div class="fancy-bg" id="fancy-bg-se">
					</div>
					<div class="fancy-bg" id="fancy-bg-s">
					</div>
					<div class="fancy-bg" id="fancy-bg-sw">
					</div>
					<div class="fancy-bg" id="fancy-bg-w">
					</div>
					<div class="fancy-bg" id="fancy-bg-nw">
					</div>
					<div id="fancybox-inner">
					</div>
					
					<a id="fancybox-close">
					</a>
					<a href="javascript:;" id="fancybox-left">
						<span class="fancy-ico" id="fancybox-left-ico">
						</span>
					</a>
					<a href="javascript:;" id="fancybox-right">
						<span class="fancy-ico" id="fancybox-right-ico"></span>
					</a>
				</div>
			</div>
			<!-- END REGION FANCY -->
			
			<!-- REGION SCRIPT !-->
			  
			  <script type="text/javascript" src="{{asset('js/jquery-1.6.2.min.js')}}"></script>
			  <script type="text/javascript" src="{{asset('js/image_fade.js')}}"></script>
			  <script type="text/javascript" src="{{asset('js/image_slide.js')}}"></script>
			

			  <script type="text/javascript">
				$('bug_tracking_link').target = "varien_external";
			  </script>	  
			<!-- END REGION SCRIPT !-->
			
	</body>
</html>