	<img class="news-paperclip" src="{{asset('bundles/psapage/images/commons/content/paperclip.png')}}" alt="paperclip" />
	<div class="news-sidebar">
		<h3>Dernier articles</h3>
                {%- if articles -%}
                    {% for article in articles%}
                            {{article.datePublication|date("m/j/Y")}}: {{article.titre|raw}}</br>
                            {{article.contenu|raw|slice(0,100)}}...<a href="{{path('PsaPageBundle_article_show',{id:article.id})}}">En savoir plus</a><br/>
                            <br/>
                     {%endfor%}
                 {%- else -%}
                     Aucun article pour l'instant!</br>
                 {%- endif -%}     
                            
	</div>



